h5{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: black;
}
.carousel-inner{
    margin-top: 10px;
}
div>img{
    width: 500px;
    height: 600px;
}

/* div card*/
 .card{
    width: auto;
    height:400px;
    text-align: block; 
    padding: 5px 0;
    
    display:flex;
    justify-content: center;
    align-items: baseline; 
    flex-direction:row;
}  
.card>div{
    box-shadow:0 0 5px gray ;
    border-radius: 15px; 
    margin-top: 5px;
    padding: 5px;
}
.card>div>h3{
    text-align: center;
}
.card>div>img{
    width: 400px;
    height: 250px;
    
   
    border: 10px solid;
    border-color: aliceblue;
    border-top-color: rgb(207, 172, 73);        
} 

#contcard>p{
      text-align: justify;
      margin: auto;
}

/* #secundaria{
    border-top-color: rgb(31, 80, 170);
}
#curso{
    border-top-color: rgb(190, 46, 20);
}  */

.noticia{
    text-align: left;
    font-size: 60px;
    background-color: rgb(105, 104, 104);
    margin-top: 5px;
    border-radius: 15px;
}
.noticia>p{
    color: whitesmoke;
    
}
p{
    display: flex;
    justify-content: center;
}
.conteventos{
    width: auto;
    height: 520px;
    display:flex;
    justify-content: left;
    align-items: center;
    background-color: beige;
    border-radius: 15px;
    margin-bottom: 5px;
}
.conteventos>h3{
    font-size: 50px;
    box-shadow: 3px;
}
.evento>p{
    font-size: 25px;
    text-align: center;
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
}
.evento>p:hover{
    background-color: whitesmoke;
    border: 2px solid gray
}



  

