body{
    background-color: #ecf0f0;
    width: auto;
    height: auto;
}
.titulo{
    display: inline;
    position: absolute;
    top: 15px;
}
header{
    background-color: #ece17d;
    width: auto;
    height: 50px;
    padding: 1px 1px;
    margin: 5px;   
}
.divheader{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 20px;
}
.divheader #logo{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 150px;
    top: 20px;
    
}
.divheader #login{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 15px;
    
}
nav{
    width: auto;
    height: 30px;
    padding: 5px 5px;
    margin: 5px;
    position: absolute;
    top: 15px;
    right: 800px;
}
.divnav ul{
    list-style-type: none;
    text-align: center;
}
.divnav li{
    display: inline;
    text-align: center;
    margin: 0 0 0 0 ;
}
.divnav li a{
    padding: 2px 7px 2px 7px;
    background-color: rgb(231, 240, 110);
    border: 1px solid:#ece17d;
}
.divbanner{
    display: flex;
    justify-content: center;
}
.divbanner img{
    width: 700px;
    height: 400px;;
 }
section{
    background-color: beige;
    width: auto;
    height: 100px;
    margin: 5px;
}
article{
    background-color: blanchedalmond;
    width: auto;
    height: 100px;
    margin: 5px;
}
footer{
    background-color: azure;
    width: auto;
    height: auto;
    margin: 5px;
}
.divfooter {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 20px;
    width: 50px;
    height: 50px;
}
.divfooter #siguenos{
    width: 50px;
    height: 50px;
    position: absolute;
}
.divfooter #instagram{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 80px;
    top: 20px;
}
.divfooter #facebook{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 130px;
    top: 20px;
}
.divfooter #twitter{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 180px;
    top: 20px;
}
.divfooter{
    

}






