/* color fondo y dimensiones del body*/
body{
    background-color: #ecf0f0;
    width: auto;
    height: auto;
}
/* orientacion de titulo*/
.titulo{
    display: inline;
    position: absolute;
    top: 15px;
}
/*Encabezado*/
header{
    background-color: #ece17d;
    width: auto;
    height: 50px;
    padding: 1px 1px;
    margin: 5px;   
}
.divheader{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 20px;
}
/*orientacion y tamaño de imagen de logo*/
.divheader #logo{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 150px;
    top: 20px;
}
/*Orientacion y tamaño de imagen de login*/
.divheader #login{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 15px;
}
/*orientacion y tamaño de la barra de navegacion */
nav{
    width: auto;
    height: 30px;
    padding: 5px 5px;
    margin: 5px;
    position: absolute;
    top: 15px;
    right: 800px;
}/*item del menu de barra de navegacion*/
.divnav ul{
    list-style-type: none;
    text-align: center;
}
.divnav li{
    display: inline;
    text-align: center;
    margin: 0 0 0 0 ;
}
.divnav li a{
    padding: 2px 7px 2px 7px;
    background-color: rgb(231, 240, 110);
    border: 1px solid:#ece17d;
}
#contitembanner{
    border: 5px;
    height: 400px;
    overflow: hidden;
}

.itembanner{
    width: auto;
    height: 100%;
    position: relative;
}
.imgbanner{
    height: 100%;
}
.flechasbanner{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px;
}
#contpuntos{
    background-color: beige;
    display: flex;
    justify-content:space-around ;
}
/* colores de fondo antes de ingresar imagenes al banner
#imgbanner-1{
    background-color: #ece17d;
}
#imgbanner-2{
    background-color: #7d8eec;
}
#imgbanner-3{
    background-color: #c7824a;
}
*/
/*quita el subrayado de un hipervinculo*/
a{
   text-decoration: none; 
}
.card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 20px;
    
}
.itemcard{
    max-width: 350px;
    width: 30% ;
    box-shadow:0 0 5px chocolate ;
    text-align: center;
    padding: 40px 0;
    
}
#cardimg{}
article{
    background-color: blanchedalmond;
    width: auto;
    height: 100px;
    margin: 5px;
}
footer{
    background-color: azure;
    width: auto;
    height: auto;
    margin: 5px;
}
.divfooter {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 20px;
    width: 50px;
    height: 50px;
}
.redes{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50px;
    left: 700px;
    padding: 5px;
}
#correo{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 60px;
}
