body{
    background-color: #ecf0f0;
    width: auto;
    height: auto;
}
#titulo{
    display: inline;
}
header{
    background-color: #ece17d;
    width: auto;
    height: 50px;
    padding: 1px 1px;
    margin: 1px;   
}
.divheader{
    display: flex;
    justify-content: flex-end;
}
.divheader #logo{
    width: 50px;
    height: 50px;
}
nav{
    background-color: #fff;
    width: auto;
    padding: 20px 5px;
    margin: 5px;
}
.divnav ul{
    list-style-type: none;
    text-align: center;
}
.divnav li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0 ;
}
.divnav li a{
    padding: 2px 7px 2px 7px;
    background-color: rgb(231, 240, 110);
    border: 1px solid:#ece17d;
}
.divbanner{
    display: flex;
    justify-content: center;
}
.divbanner img{
    width: 700px;
    height: 400px;;
 }
section{
    background-color: beige;
    width: auto;
    height: 100px;
    margin: 5px;
}
article{
    background-color: blanchedalmond;
    width: auto;
    height: 100px;
    margin: 5px;
}
footer{
    background-color: azure;
    width: auto;
    height: auto;
    margin: 5px;
}
.divfooter {
    display: flex;
    justify-content: space-between;
}

