/* color fondo y dimensiones del body*/
body{
    background-color: #f3ecc5;
    width: auto;
    height: auto;
}
/* orientacion de titulo*/
.titulo{
    position: absolute;
    top: 40px;
    left: 30px;
}
/*Encabezado*/
header{
    background-color: #ece17d;
    width: auto;
    height: 70px;
    padding: 1px 1px;
    margin: 1px;   
    border-radius: 15px;
}
header .divheader{
    
}
.divheader{
    justify-content: center;
    position: relative;
    bottom: 20px;
}
/*orientacion y tama침o de imagen de logo*/
.divheader #logo{
    position: absolute;
    width:50px;
    height:50px;
    left: 70px;0px;
    top: 20px;
}
/*Orientacion y tama침o de imagen de login*/
.divheader #login{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 30px;
    right: 15px;
}
/*item menu de barra de navegacion*/
/* menu */
#menu ul {
    display: flex;
    justify-content: center;
    list-style:none;
    padding:5px 5px;
    z-index: 1;
    
}
   
   /* items del menu */
   
#menu ul li {
    background-color:#ece17d;
    float: left;
    display: flex;
    position: relative;
}
   
   /* enlaces del menu */
#menu ul a {
   
    font-size:15px;
    padding:3px;
    letter-spacing:1px;
}
   
   /* items del menu */
 #menu ul li {
    position:relative;
    justify-content: center;
    
    margin:0;
    padding:0;
   }
   
   /* efecto al pasar el rat칩n por los items del menu */
   
   #menu ul li:hover {
    
   }
/* menu desplegable */
#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
   }
   
   /* items del menu desplegable */
   
   #menu ul ul li {
    float:none;
    width:150px
   }
   
   /* enlaces de los items del menu desplegable */
   
   #menu ul ul a {
    line-height:120%;
    padding:10px 15px;
   }
   
   /* items del menu desplegable al pasar el rat칩n */
   
   #menu ul li:hover > ul {
    display:block;
   }


.footer{
    display: flex;
    width: auto;
    height: auto;
    margin: 1px;
}
.divfooter {
    background-color: #ece17d;
    display: flex;
    width: auto;
    height: 70px;
    justify-content:space-evenly;
    position: relative;
    top: 20px;
    border-radius: 15px;
}
.redes{
    display: flex;
    margin-top: 5px;
}
#correo{
    display: flex;
    position: absolute;
    margin-top: 50px;
}








